body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}
* {
    box-sizing: border-box;
}

/*HEADER*/
header{
    height: 100px;
    background: rgba(122, 202, 202, 0.774);
    /*linear-gradient(rgba(199, 247, 247, 0.884) 70%, white);*/
}

header h1{
    margin: 0;
    padding-top: 10px;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

/*NAV*/
.menu a, .menu a:hover, .menu a:focus, .menu a:visited{
    text-decoration: none;
    color: black;
}
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 50px;
    margin: 0;
    text-align: center;
}
.menu li{
    width:calc(100% / 4);
    list-style: none;
    margin-top: 19px;
    padding: 10px;
    background-color: white;
    color: black;
    border: solid 3px rgba(199, 247, 247, 0.384);
}
.menu li:hover{
    border: solid 3px rgba(199, 247, 247, 0.884);
}
/*FIN HEADER*/

.background{
    min-height:80vh;
    background-image: url(../img/uk2.jpg);
    background-position: center;
    background-size: cover;
}
/*.gradient{
    min-height:80vh;
    background-image:
    linear-gradient(to top, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255)),
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 81%, rgb(255, 255, 255));
}*/

/*ACCUEIL*/
.titreApp{
    font-size: 85px;
    margin: 0px auto;
    padding: 163px 50px;
    height: 80vh;
    color: white;
    max-width: 777px;
}

form > *{
    padding: 0.25rem;
    margin: 0.25rem;
}

/*NEWSLETTER*/

.newsletter h3, form{
    width: 100%;
    text-align: center;
}
 input, textarea{
    border: solid 2px rgba(156, 231, 231, 0.877);
    background-color: white;
    padding: 5px;
    min-width: 222px;
}
 button{
    border: solid 4px rgba(199, 247, 247, 0.651);
    background-color: white;
    min-width: 187px;
}
 button:hover {
    border: solid 4px rgb(156, 231, 231);
    cursor: pointer;
}
 label{
    font-size: smaller;
}
::placeholder{
    color: rgb(214, 199, 250);
}

/*FORMULAIRE CONTACT*/
.contact, .blog{
    width: 40%;
    height: 98vh;
    margin: 0px auto;
    padding: 40px 20px 30px 20px;
    color: white;
}
.contact h3, .blog h3{
  text-align: center;
}
.contact form, .blog form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact form button, .blog form button{
  height: 40px;
  width: 100%;
  margin-top: 10px;
}
.contact form input, .blog form input{
  height: 40px;
  width: 99%;
  min-width: 200px;
  margin: 10px 0;
  font-family: sans-serif;
}
.contact form label ::placeholder, .blog form label ::placeholder{
  color: rgb(206, 202, 202);
}
.contact textarea, .blog textarea{
    width: 100%;
    margin: 10px 0;
    font-family: sans-serif;
}

/*GALERIE*/
.galerie .container{
    width: 100%;
}
.galerie img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
.galerie{
    width: 65%;
    margin: 5rem auto;
}
/*LIGHTBOX*/
.grande-image{
    position:fixed;
    background-color: rgba(0,0,0,0.5);
    width:500px;
    height:500px;
    padding:4rem;
    left:0px;
    top:0;
    display:block;
    z-index:-1;
    opacity:0;
    transition:all 1s;
}
.grande-image img{
    width : 100%;
    height: 100%;
}
.grande-image.montrer {
    display:block;
    opacity:1;
    z-index:99;
    width:100%;
    height:100%;
}

/*ARTICLES BLOG*/
.article{
    width: 70%;
}
.article img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
/*MENTIONS LEGALES*/
.mentions-legales{
    width: 60%;
    margin: 50px auto 50px auto;
    text-align: justify;
}
.mentions-legales h3{
    margin-bottom: 35px;
    text-align: center;
}

/*FOOTER*/

footer{
    padding-top: 15px;
    margin:0;
    height: 14vh;
    background: rgb(122, 202, 202);
/*linear-gradient(white,rgba(199, 247, 247, 0.884)80%);*/
}
.petit{
    font-size: 0.7rem;
    text-align: center;
}
footer a{
    text-decoration: none;
    text-align: center;
    color: white;

}
footer ul{
    margin: 0;
    padding-left: 0;
    color: white;
    list-style: none;
    text-align: center;
}

/*****MEDIA QUERIES*****/


@media screen and (max-width: 678px){
    .newsletter form{
        flex-direction: column;
        display: flex;
        width: 100%;
    }
    .newsletter button{
        width: 202px;
        margin-left: auto;
        margin-right: auto;
    }
}